<div class="jumbotron center">
    <h1>My Blog App</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge"%>
</div>
  
<%= link_to "Enter blog", articles_path%> |
<%= link_to "About", about_path%>